<app-nav></app-nav>

<nav>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a (click)="getCritterInfo('bugs')" class="nav-item nav-link active"  data-toggle="tab"  role="tab"  aria-selected="true">Bugs</a>
      <a (click)="getCritterInfo('fish')" class="nav-item nav-link"  data-toggle="tab"  role="tab"  aria-selected="true">Fish</a>
      <a (click)="getCritterInfo('sea')" class="nav-item nav-link"  data-toggle="tab"  role="tab"  aria-selected="true">Sea Creatures</a>
      <!-- 
    <a (click)="showAll()"  class="nav-item nav-link ml-auto " id="nav-fish-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-fish" aria-selected="true">All</a>
    <a (click)="showCurrent()" class="nav-item nav-link pull-right" id="nav-fish-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-fish" aria-selected="true">Available This Month</a>
    <a (click)="showMine()" class="nav-item nav-link" id="ngnav-fish-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-fish" aria-selected="true">My Collection</a> -->

    </div>
  </nav>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card card-custom my-5">
        <div class="card-body">
          <div class="row scroll">
            <div class="col-4 col-sm-3 align-items-center text-center fishGrid" (click)="onSelect(c)" *ngFor="let c of critterList | keyvalue">
              <img class="icon" src="https://acnhapi.com/v1/icons/{{critterType}}/{{c.value['id']}}">
              <p>{{c.value['name']['name-USen'] | lowercase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 detail">
      <div class="card card-custom my-5">
        <div class="card-body">
          <h5 *ngIf= "selectedCritter" class="card-title text-center name">{{selectedCritter.value['name']['name-USen'] | lowercase }}</h5>
          <table class="table">
            <tr *ngFor = 'let t of tableTitles'>
              <td>{{t}}</td>
              <td *ngIf="selectedCritter && t=='Price'">{{selectedCritter.value['price']}}</td>
              <td *ngIf="selectedCritter && (t=='CJ\'s Price' || t=='Flick\'s Price')">{{selectedCritter.value['price']*1.5}}</td>
              <td *ngIf="selectedCritter && t=='Rarity'">{{selectedCritter.value['availability']['rarity']}}</td>
              <td *ngIf="selectedCritter && t=='Location'">{{selectedCritter.value['availability']['location']}}</td>
              <td *ngIf="selectedCritter && t=='Available Times' && selectedCritter.value['availability']['isAllDay'] == false">{{selectedCritter.value['availability']['time']}}</td>
              <td *ngIf="selectedCritter && t=='Shadow Size'">{{selectedCritter.value['shadow']}}</td>
              <td *ngIf="selectedCritter && t=='Speed'">{{selectedCritter.value['speed']}}</td>
              <td *ngIf="selectedCritter && t=='Southern Months' && selectedCritter.value['availability']['isAllYear'] == false">{{selectedCritter.value['availability']['month-southern']}}</td>
              <td *ngIf="selectedCritter && t=='Northern Months' && selectedCritter.value['availability']['isAllYear'] == false">{{selectedCritter.value['availability']['month-northern']}}</td>
              <td *ngIf="selectedCritter && t=='Southern Months' && selectedCritter.value['availability']['isAllYear'] == true">All Year</td>
              <td *ngIf="selectedCritter && t=='Northern Months' && selectedCritter.value['availability']['isAllYear'] == true">All Year</td>
              <td *ngIf="selectedCritter && t=='Available Times' && selectedCritter.value['availability']['isAllDay'] == true">All Day</td>
            </tr>
          </table>

          <!-- Buttons -->
          <div *ngIf="noUser"><p class="text-left">Login to add to your collection</p></div>
          <button (click)="addToCollection(selectedCritter)" class="button btn-primary">Add to My Collection</button>
<!--
      <div *ngIf="aDupe"><button (click)="delete(selectedCritter)" class="button btn-primary">Remove From My Collection</button></div>
      <div *ngIf="!aDupe && critterType === 'fish' && !noUser"><button (click)="addFish(selectedCritter)" class="button btn-primary">Add to My Collection!</button></div>
      <div *ngIf="!aDupe && critterType === 'bugs' && !noUser"><button (click)="addBugs(selectedCritter)" class="button btn-primary">Add to My Collection!</button></div>
      <div *ngIf="noUser"><p class="text-left">Login to add to your collection</p></div>
-->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer"></div>
<img *ngIf="critterType !== 'sea'" class="vendor" src="assets/images/{{vendor}}.png">
<img *ngIf="critterType === 'sea'" class="pascal" src="assets/images/{{vendor}}.png">
