
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color:  #8ddac1;
    color: white;
    text-align: center;
 }

.vendor{
    width: 15%;
    position:fixed;
    bottom:0px;
    left:77%;
}
@media only screen and (max-width: 600px) {
    .options {
        display: none;
    }
    .row {
        padding: 0px;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 30px;
    }
    .col-sm-3 {
        padding-left: 0px;
    }

    h4 {
        font-size: 1.25rem;
    }

    .deets {
        display: hidden;
    }
}