<app-nav></app-nav>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="card card-signin my-2">
                    <div class="card-body">
                        <div class="row scroll">
                            <div class="col-4 col-sm-3 align-items-center text-center" (click)="onSelect(v)" *ngFor="let v of villagers | keyvalue">
                                <img src="http://acnhapi.com/icons/villagers/{{v.value['id']}}">
                                <p>{{v.value['name']['name-en']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                
            </div>

        </div>
    </div>
    <div class="footer"></div>
    <img class="vendor" src="assets/images/isabelle.png">
</body>

<!-- 

            <div class="col-sm-4 details">
                <div class="detailBox">
                    <div *ngIf="selectedVillager">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/images/villagers/{{selectedVillager.value['id']}}">
                                </div> 
                                <h1>{{selectedVillager.value['name']['name-en']}}</h1>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Gender 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedVillager.value['gender']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Birthday 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedVillager.value['birthday-string']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Personality
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedVillager.value['personality']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Catch Phrase 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedVillager.value['catch-phrase']}} 
                                        </div>
                                        <div>

                                        </div>
                            </div>
                        </div>
                    </div>         
                </div>

                
            </div>
        </div>
    </div>
</body>  -->