<app-nav></app-nav>
<body>

    <article>
        <select class='dropdown'(change)="selectGender($event)">
            <option>Gender</option>
            <option *ngFor="let g of genders" value={{g}}>{{g}}</option>
        </select>

        <select (change)="selectSpecies($event)">
            <option>Species</option>
            <option *ngFor="let s of species" value={{s}}>{{s}}</option>
        </select>

        <select (change)="selectPersonality($event)">
            <option>Personality</option>
            <option *ngFor="let p of personalities" value={{p}}>{{p}}</option>
        </select>
    </article>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="card card-signin my-2">
                    <div class="card-body">
                        <div class="row scroll">
                            <div class="col-4 col-sm-3 align-items-center text-center" (click)="onSelect(v)" *ngFor="let v of villagers | keyvalue">
                                <img src="http://acnhapi.com/icons/villagers/{{v.value['id']}}">
                                <p>{{v.value['name']['name-en']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card card-signin my-2">
                    <div *ngIf="selectedVillager" class="card-body">
                        {{selectedVillager.value['name']['name-en']}}
                        <br>
                        {{selectedVillager.value['gender']}}
                        <br>
                        {{selectedVillager.value['species']}}
                        <br>
                        {{selectedVillager.value['personality']}}
                        <br>
                        {{selectedVillager.value['birthday-string']}}
                        <br>
                        {{selectedVillager.value['catch-phrase']}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer"></div>
    <img *ngIf="selectedVillager" class="vendor" src="{{selected.image}}">
    <!-- <img *ngIf="selectedVillager" class="vendor" src="http://nookipedia.com/api/villager/{{selectedVillager.value['name']['name-en']}}/?api_key=a2f61762-8c07-4aff-a16c-75ffa9e8ef8a"> -->
</body>

  