<div class="container">
  <div class="row">
  <div class="col-6">
    <h3>Available This Month</h3>
    <div class="row justify-content-center scroll">
      <div *ngFor="let fish of currentFish">
        <div class="col-sm-">
          <img class="icon" src="http://acnhapi.com/icons/fish/{{fish['id']}}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>
 
  <div class="col-sm-5">
    <h3>Year Round</h3>
    <div class="row justify-content-center scroll">
      <div *ngFor="let fish of alwaysFish">
        <div class="col-sm-">
          <i><img class="icon" src="http://acnhapi.com/icons/fish/{{fish['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


