<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ml-auto">
          <div class="card card-signin my-2">
            <div class="card-body">
              <h3 class="card-title text-center">Fish Available Right Now</h3>
              <div class="row scroll">
                  <div class="col-4 col-sm-3 align-items-center text-center" *ngFor="let fish of currentFish">
                      <img [class.hour]="someMethod(fish.id)" class="icon" src="http://acnhapi.com/icons/fish/{{fish['id']}}">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

