<body>
  <div class="row">
    <div class="col-sm-8">
      LEFT
      <div class="row">
        <div class="col-sm-6">
          today
        </div>
        <div class="col-sm-6">
          events
        </div>
        <div class="row">
          <div class="col-sm-12">
            birthdays
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      Catchable
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      Profile
    </div>
  </div>
</body>

<!-- <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 text-center">
        <div class="imageContainer"><img class="justify-content-center isabelle" src="assets/images/isabelle.png"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 events">
        <app-events></app-events>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 events">
      <app-birthday></app-birthday>
      </div>
    </div>


    <div class="col-lg-7 flex-item">
      <div class="row">
        <div class="col-lg-12 flex-item today">
          <br>
          <h4 class="card-title text-center">Today is</h4>
          <h1 class="card-title text-center"><strong>{{dateService.todayFullDate}}</strong></h1>
          <h3 class="card-title text-center">{{dateService.todayTime}}</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 flex-item now">
              <app-current-critters></app-current-critters> 
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-sm-offset-2 flex-item profile">
    
    </div> 

</div>
</body>


 -->
